/* About Me */

.about-selector:hover {
    cursor: pointer;
    transform: translateX(2px);
    transform: translateY(2px);
}

#skills {
    color: #0082aa;
}

#skills:hover {
    background-color: #0082aa;
    color: #e0e0e0;
    border-radius: 3px;
}

.active#skills {
    background-color: #0082aa;
    color: #e0e0e0;
    border-radius: 3px;
}

#skills-bar {
    background-color: #0082aa;
    width: 100%;
    height: 3px;
}

#background {
    color: #df9000;
}

#background:hover {
    background-color: #df9000;
    color: #e0e0e0;
    border-radius: 3px;
}

.active#background {
    background-color: #df9000;
    color: #e0e0e0;
    border-radius: 3px;
}

#background-bar {
    background-color: #df9000;
    width: 100%;
    height: 3px;
}

#about-me {
    color: #438d1c;
}

#about-me:hover {
    background-color: #438d1c;
    color: #e0e0e0;
    border-radius: 3px;
}

.active#about-me {
    background-color: #438d1c;
    color: #e0e0e0;
    border-radius: 3px;
}

#about-me-bar {
    background-color: #438d1c;
    width: 100%;
    height: 3px;
}



#background-info,
#about-me-info {
    display: none;
}

@media only screen and (max-width: 1199px) {

}

@media only screen and (max-width: 991px) {

}

@media only screen and (max-width: 764px) {

}

@media only screen and (min-width: 1200px) {
    #skills-info,
    #background-info,
    #about-me-info {
        width: 65%;
        height: 350px;
        position: absolute;
        left: 450px;
    }
}