/* About Me */

.about-selector:hover {
    cursor: pointer;
    transform: translateX(2px);
    transform: translateY(2px);
}

#skills {
    color: #0082aa;
}

#skills:hover {
    background-color: #0082aa;
    color: #e0e0e0;
    border-radius: 3px;
}

.active#skills {
    background-color: #0082aa;
    color: #e0e0e0;
    border-radius: 3px;
}

#skills-bar {
    background-color: #0082aa;
    width: 100%;
    height: 3px;
}

#background {
    color: #df9000;
}

#background:hover {
    background-color: #df9000;
    color: #e0e0e0;
    border-radius: 3px;
}

.active#background {
    background-color: #df9000;
    color: #e0e0e0;
    border-radius: 3px;
}

#background-bar {
    background-color: #df9000;
    width: 100%;
    height: 3px;
}

#about-me {
    color: #438d1c;
}

#about-me:hover {
    background-color: #438d1c;
    color: #e0e0e0;
    border-radius: 3px;
}

.active#about-me {
    background-color: #438d1c;
    color: #e0e0e0;
    border-radius: 3px;
}

#about-me-bar {
    background-color: #438d1c;
    width: 100%;
    height: 3px;
}

#background-info,
#about-me-info {
    display: none;
}

#skills-info,
#background-info,
#about-me-info {
    padding-top: 20px;
    background-color: #292929;
    border-radius: 5px;
}

@media only screen and (max-width: 1199px) {

    #skills-info,
    #background-info,
    #about-me-info {
        width: 75%;
        height: 420px;
    }

    #skills-info,
    #background-info {
        padding-left: 50px;
    }

    #about-me-info {
        padding-left: 10px;
    }

    .about-selector h3 {
        font-size: 2em;
    }

    [id*='info'] {
        font-size: 1em;
    }

    .skills-img {
        height: auto;
        width: 320px;
        border-radius: 5px;
        position: relative;
        top: -320px;
        right: -43%;
    }
    
    #about-me-text {
        font-size: .92em;
        width: 60%;
    }

    .about-me-img-container {
        display: flex;
        flex-direction: column;
        position: relative;
        top: -400px;
        right: -410px;
    }

    .about-me-img {
        height: auto;
        width: 235px;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 991px) {

    .about-selector h3 {
        font-size: 1.5em;
    }

    #skills-info,
    #background-info,
    #about-me-info {
        font-size: .75em;
    }

    .skills-img {
        height: auto;
        width: 230px;
        border-radius: 5px;
        position: relative;
        top: -245px;
        right: -43%;
    }

    .about-me-img-container {
        display: flex;
        flex-direction: column;
        position: relative;
        top: -290px;
        right: -300px;
    }

    .about-me-img {
        height: auto;
        width: 165px;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 767px) {

    #about-me-content {
        height: 700px;
    }

    #skills-info,
    #background-info,
    #about-me-info {
        padding-top: 20px;
        font-size: .75em;
        width: 95%;
        position: relative;
        top: 30px;
        right: -11px;
    }

    #about-me-text {
        font-size: 1.2em;
        width: 98%;
    }

    .skills-img {
        display: none;
    }

    .about-me-img {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    #about-me-content {
        height: 900px;
    }
    #about-me-info,
    #background-info {
        height: 650px;
    }
    #tech-header {
        font-size: 0.8em;
    }
}


@media only screen and (min-width: 1200px) {

    #skills-info,
    #background-info,
    #about-me-info {
        width: 75%;
        height: 420px;
        padding-left: 50px;
    }

    .skills-img {
        height: auto;
        width: 320px;
        border-radius: 5px;
        position: relative;
        top: -320px;
        right: -50%;
    }

    #about-me-text {
        font-size: 1em;
        width: 60%;
    }

    .about-me-img-container {
        display: flex;
        flex-direction: column;
        position: relative;
        top: -405px;
        right: -500px;
    }

    .about-me-img {
        height: auto;
        width: 235px;
        border-radius: 5px;
    }
}