/* Contact */

#contact-content {
    height: 550px;
}

textarea {
    resize: none;
}

.form-group {
    margin-right: 20px;
}

.img-container {
    position: relative;
}

.img-text {
    position: absolute;
    bottom: 20;
}

#contact-info {
    background-color: #292929;
    border-radius: 5px;
    padding: 10px;
}

.contact-links {
    color: #0082aa;
    display: inline;
}

@media only screen and (max-width: 1199px) {

    #contact-content {
        position: relative;
        left: -5000px;
        top: -1050px;
    }
}

@media only screen and (max-width: 991px) {

    #contact-content {
        position: relative;
        left: -5000px;
        top: -1040px;
    }
}

@media only screen and (max-width: 767px) {

    #contact-content {
        position: relative;
        left: -5000px;
        top: -1450px;
    }
}

@media only screen and (max-width: 500px) {

    #contact-content {
        position: relative;
        left: -5000px;
        top: -1660px;
        height: 650px;
    }
}


@media only screen and (min-width: 1200px) {

    #contact-content {
        position: relative;
        left: -5000px;
        top: -1100px;
    }
}