/* Portfolio */

.portfolio-header:hover {
    cursor: pointer;
}

.project-name {
    position: relative;
    top: 33%;
}

.portfolio-card:hover {
    cursor: pointer;
}

#light-snow-card {
    background-color: #0082aa;
}

#light-snow-card:hover {
    background: rgb(84, 169, 196);
    background: linear-gradient(0deg, rgba(84, 169, 196, 1) 0%, rgba(0, 130, 170, 1) 59%);
}

#gif-wallet-card {
    background-color: #df9000;
}

#gif-wallet-card:hover {
    background: rgb(238, 188, 95);
    background: linear-gradient(0deg, rgba(238, 188, 95, 1) 0%, rgba(223, 144, 0, 1) 59%);
}

#train-times-card {
    background-color: #438d1c;
}

#train-times-card:hover {
    background: rgb(125, 179, 96);
    background: linear-gradient(0deg, rgba(125, 179, 96, 1) 0%, rgba(67, 141, 28, 1) 59%);
}

.portfolio-info {
    display: none;
    height: 0px;
    width: 700px;
    border-radius: 5px;
    background-color: #292929;
    position: absolute;
    right: 60px;
}

.port-info-content {
    display: none;
    padding: 10px;
}

@media only screen and (max-width: 1199px) {
    #portfolio-content {
        position: relative;
        left: -5000px;
        top: -460px;
    }

    .portfolio-info {
        width: 580px;
    }

    [id*='-card'] {
        height: 400px;
        width: 220px;
        border-radius: 6px;
        border: 2px outset #444444;
    }

    #light-snow-card {
        position: absolute;
        left: 30px;
    }

    #gif-wallet-card {
        position: absolute;
        left: 355px;
    }

    #train-times-card {
        position: absolute;
        left: 675px;
    }

    #light-snow-img {
        height: auto;
        width: 360px;
        position: relative;
        top: -15px;
        right: -190px;
    }

    #gif-wallet-img {
        height: auto;
        width: 315px;
        position: relative;
        top: -10px;
        right: -235px;
    }

    #train-times-img {
        height: auto;
        width: 240px;
        position: relative;
        top: -10px;
        right: -275px;
    }

    .repo-link {
        position: absolute;
        top: 200px;
        left: 30px;
    }

    .site-link {
        position: absolute;
        top: 275px;
        left: 30px;
    }

    .snow-link {
        color: #0082aa;
        border-color: #0082aa;
    }

    .gif-link {
        color: #df9000;
        border-color: #df9000;
    }

    .train-link {
        color: #438d1c;
        border-color: #438d1c;
    }
}

@media only screen and (max-width: 991px) {

    #portfolio-content {
        position: relative;
        left: -5000px;
        top: -490px;
    }

    .portfolio-info {
        width: 380px;
    }

    [id*='-card'] {
        height: 400px;
        width: 220px;
        border-radius: 6px;
        border: 2px outset #444444;
    }

    #light-snow-card {
        left: 10px;
    }

    #gif-wallet-card {
        left: 235px;
    }

    #train-times-card {
        left: 460px;
    }

    #light-snow-img,
    #gif-wallet-img,
    #train-times-img {
        display: none;
    }

    .repo-link,
    .site-link {
        font-size: 1em;
    }

    .repo-link {
        top: 240px;
    }

    .site-link {
        top: 310px;
    }
}

@media only screen and (max-width: 767px) {

    body {
        overflow-y: auto !important;
    }

    #portfolio-content {
        top: -700px;
        height: 700px;
    }

    .portfolio-info {
        width: 96%;
        top: 282px;
        right: 12px;
    }

    [id*='-card'] {
        height: 200px;
        width: 100%;
        border-radius: 6px;
        border: 2px outset #444444;
        margin-bottom: 10px;
    }

    #light-snow-card {
        position: absolute;
        left: 0;
    }

    #gif-wallet-card {
        position: absolute;
        top: 280px;
        left: 0;
    }

    #train-times-card {
        position: absolute;
        top: 490px;
        left: 0;
    }

    #light-snow-img,
    #gif-wallet-img,
    #train-times-img {
        display: none;
    }

    .repo-link,
    .site-link {
        font-size: 1em;
    }

    .repo-link {
        top: 240px;
    }

    .site-link {
        top: 310px;
    }
}

@media only screen and (max-width: 500px) {
    #portfolio-content {
        top: -1100px;
        height: 800px;
    }

    .portfolio-info {
        font-size: 0.85em;
    }
}

@media only screen and (max-width: 430px) {
    #portfolio-content {
        top: -1110px;
    }
    .portfolio-info {
        width: 93%;
    }
    .repo-link {
        top: 340px;
    }
    .site-link {
        top: 415px;
    }
}

@media only screen and (min-width: 1200px) {

    #portfolio-content {
        position: relative;
        left: -5000px;
        top: -545px;
    }

    [id*='-card'] {
        height: 400px;
        width: 220px;
        border-radius: 6px;
        border: 2px outset #444444;
    }

    #light-snow-card {
        position: absolute;
        left: 80px;
    }

    #gif-wallet-card {
        position: absolute;
        left: 444px;
    }

    #train-times-card {
        position: absolute;
        left: 820px;
    }

    #light-snow-img {
        height: auto;
        width: 400px;
        position: relative;
        right: -282px;
    }

    #gif-wallet-img {
        height: auto;
        width: 335px;
        position: relative;
        right: -300px;
    }

    #train-times-img {
        height: auto;
        width: 255px;
        position: relative;
        top: -25px;
        right: -335px;
    }

    .repo-link {
        position: absolute;
        top: 200px;
        left: 30px;
    }

    .site-link {
        position: absolute;
        top: 275px;
        left: 30px;
    }

    .snow-link {
        color: #0082aa;
        border-color: #0082aa;
    }

    .gif-link {
        color: #df9000;
        border-color: #df9000;
    }

    .train-link {
        color: #438d1c;
        border-color: #438d1c;
    }
}