body {
    background-image: url("../images/background.png");
    height: 100%;
}

html {
    height: 100%;
}

#navigation {
    color: #ffffff;
    transition: .2s;
}

#navigation:hover {
    color: #137d8d;
}

#sticky-footer {
    flex-shrink: none;
    background-color: #666666;
    border-top: 8px solid #17a2b8;
}

#page-content {
    flex: 1 0 auto;
}

textarea {
    resize: none;
}

.img-container {
    position: relative;
}

.img-text {
    position: absolute;
    bottom: 20;
}

@media screen and (min-width: 765px) {
    .img-fluid {
        height: 160px;
    }
}
@media screen and (min-width: 992px) {
    .img-fluid {
        height: 225px;
    }
}
@media screen and (min-width: 1200px) {
    .img-fluid {
        height: 260px;
    }
}

