body {
    background-image: url("../images/background.png");
    height: 100%;
    overflow-x: hidden;
}

html {
    height: 100%;
}

.navigation {
    color: #ffffff;
    transition: .2s;
}

.navigation:hover {
    color: #137d8d;
}

#sticky-footer {
    flex-shrink: none;
    background-color: #666666;
    border-top: 8px solid #17a2b8;
}

#page-content {
    flex: 1 0 auto;
}

textarea {
    resize: none;
}

.img-container {
    position: relative;
}

.img-text {
    position: absolute;
    bottom: 20;
}

#portfolio-content {
    position: relative;
    left: -5000px;
    top: -360px;
}

#contact-content {
    position: relative;
    left: -5000px;
    top: -965px;
}

[id*='-card'] {
    height: 400px;
    width: 100%;
    border-radius: 5px;
}

.project-name {
    position: relative;
    top: 33%;
}

.portfolio-card:hover {
    cursor: pointer;
    transform: translateX(4px);
    transform: translateY(4px);
    opacity: 0.8;
}

#light-snow-card {
    background-color: rgb(66, 179, 179);
}
#gif-wallet-card {
    background-color: #666666;
}
#train-times-card {
    background-color: rgb(67, 67, 199);
}

.portfolio-info {
    display: none;
    height: 0;
    background-color: chartreuse;
}

@media only screen and (max-width: 1199px) {
    #portfolio-content {
        position: relative;
        left: -5000px;
        top: -390px;
    }

    #contact-content {
        position: relative;
        left: -5000px;
        top: -980px;
    }
}

@media only screen and (max-width: 991px) {
    #portfolio-content,
    #contact-content {
        position: relative;
        left: -5000px;
        top: -490px;
    }
}

@media only screen and (max-width: 764px) {
    #portfolio-content,
    #contact-content {
        position: relative;
        left: -5000px;
        top: -945px;
    }
}

@media only screen and (min-width: 765px) {
    .img-fluid {
        height: 160px;
    }
}
@media only screen and (min-width: 992px) {
    .img-fluid {
        height: 225px;
    }
}


@media only screen and (min-width: 1200px) {
    .img-fluid {
        height: 260px;
    }
}

